name: run_test

on:
  workflow_dispatch:


concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        LCG: ["LCG_108/x86_64-el9-gcc15-opt",  # root 6.36.02 with c++23
              "LCG_107/x86_64-el9-gcc13-opt",  # root 6.34.02 !minimal root version for RNTuple
              "LCG_104/x86_64-el9-gcc13-opt"]  # root 6.28.04 !minimal root version check
    steps:
    
    - uses: actions/checkout@v4
    - uses: cvmfs-contrib/github-action-cvmfs@v4
    - uses: aidasoft/run-lcg-view@v5
      with:
        release-platform: ${{ matrix.LCG }}
        ccache-key: ccache-el9-${{ matrix.LCG }}

    - name: "Checkout and compile ACTS"
      run: |
        echo "::group:: Checkout ACTS"
        git clone https://github.com/acts-project/acts.git
        cd acts
        mkdir -p build
        cd build
        echo "::group:: ACTS Cmake"
        cmake -DACTS_BUILD_PLUGIN_GEANT4=on \
        -DACTS_BUILD_PLUGIN_TGEO=on \
        -DACTS_BUILD_FATRAS=on \
        -DACTS_BUILD_FATRAS_GEANT4=on \
        -DACTS_BUILD_EXAMPLES_GEANT4=on \
        -DACTS_BUILD_EXAMPLES_PYTHON_BINDINGS=on \
        -DACTS_BUILD_ANALYSIS_APPS=on \
        -DACTS_BUILD_EXAMPLES_PYTHIA8=on ..
        echo "::grou:: BUILD ACTS"
        make

